
.depicter-revert.depicter-14 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-14-element-5{
	font-size:77px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-19{
	box-shadow:30px 63px 78px 0px rgba(0, 0, 0, 0.13);
	background-color:#FFE800;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-19-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-18{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:#579BFF;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-18-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-17{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:#FF8900;
	border-radius:24px;
}
.depicter-revert .depicter-14-element-17-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-16{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	background-color:#B6FF12;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-16-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-15{
	background-color:#000000;
}
.depicter-revert .depicter-14-element-14{
	background-color:#000000;
}
.depicter-revert .depicter-14-element-12{
	transform:rotate(0deg) scaleX(1) scaleY(1);
}
.depicter-revert .depicter-14-element-6{
	font-size:18px;
	color:#222222;
	font-family:"Dosis";
	font-weight:400;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-4{
	font-size:18px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:118%;
	text-transform:uppercase;
	letter-spacing:7px;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-13{
	padding:11px 25px 10px 27px;
	font-size:14px;
	text-align:center;
	color:#FFF;
	font-family:"Dosis";
	font-weight:700;
	text-transform:capitalize;
	box-shadow:10px 33px 49px 0px rgba(0, 0, 0, 0.29);
	background-color:#001DFF;
	border-radius:34px;
}
.depicter-revert .depicter-14-element-22{
	transform:rotate(0deg) scaleX(1) scaleY(1);
}
.depicter-revert .depicter-14-element-20{
	box-shadow:10px 33px 49px 0px rgba(0, 0, 0, 0.29);
	transform:rotate(0deg) scaleX(1) scaleY(1);
	background-color:#ffffff;
	border-radius:50%;
}
.depicter-revert .depicter-14-element-8{
	transform:rotate(0deg) scaleX(1) scaleY(1);
}
.depicter-revert .depicter-14-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-14-element-27{
	font-size:77px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-37{
	box-shadow:30px 63px 78px 0px rgba(0, 0, 0, 0.13);
	background-color:#FFE800;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-37-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-36{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	background-color:#579BFF;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-36-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-35{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	background-color:#FF8900;
	border-radius:24px;
}
.depicter-revert .depicter-14-element-35-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-34{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	background-color:#B6FF12;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-34-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-33{
	background-color:#000000;
}
.depicter-revert .depicter-14-element-32{
	background-color:#000000;
}
.depicter-revert .depicter-14-element-28{
	font-size:18px;
	color:#222222;
	font-family:"Dosis";
	font-weight:400;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-31{
	padding:11px 25px 10px 27px;
	font-size:14px;
	text-align:center;
	color:#FFF;
	font-family:"Dosis";
	font-weight:700;
	text-transform:capitalize;
	box-shadow:10px 33px 49px 0px rgba(0, 0, 0, 0.29);
	background-color:#F03D4E;
	border-radius:34px;
}
.depicter-revert .depicter-14-section-24 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-14-element-55{
	box-shadow:30px 63px 78px 0px rgba(0, 0, 0, 0.13);
	background-color:#FFE800;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-55-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-45{
	font-size:77px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-54{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	background-color:#579BFF;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-54-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-53{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	background-color:#FF8900;
	border-radius:24px;
}
.depicter-revert .depicter-14-element-53-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-52{
	box-shadow:30px 63px 75px 0px rgba(0, 0, 0, 0.16);
	background-color:#B6FF12;
	border-radius:31px;
}
.depicter-revert .depicter-14-element-52-frame{
	mix-blend-mode:multiply;
}
.depicter-revert .depicter-14-element-51{
	background-color:#000000;
}
.depicter-revert .depicter-14-element-50{
	background-color:#000000;
}
.depicter-revert .depicter-14-element-46{
	font-size:18px;
	color:#222222;
	font-family:"Dosis";
	font-weight:400;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-49{
	padding:11px 25px 10px 27px;
	font-size:14px;
	text-align:center;
	color:#FFF;
	font-family:"Dosis";
	font-weight:700;
	text-transform:capitalize;
	box-shadow:10px 33px 49px 0px rgba(0, 0, 0, 0.29);
	background-color:#3CCBA9;
	border-radius:34px;
}
.depicter-revert .depicter-14-element-59{
	transform:rotate(0deg) scaleX(1) scaleY(1);
}
.depicter-revert .depicter-14-section-42 .depicter-section-background{
	background-color:#CA1919;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-14-element-5{
	font-size:65px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
}
.depicter-revert .depicter-14-element-4{
	font-size:17px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:118%;
	text-transform:uppercase;
	letter-spacing:7px;
}
.depicter-revert .depicter-14-element-27{
	font-size:65px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
}
.depicter-revert .depicter-14-element-45{
	font-size:60px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-14-element-5{
	font-size:48px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
}
.depicter-revert .depicter-14-element-18{
	border-radius:10px;
}
.depicter-revert .depicter-14-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-14-element-27{
	font-size:48px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
}
.depicter-revert .depicter-14-element-36{
	border-radius:10px;
}
.depicter-revert .depicter-14-section-24 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-14-element-55{
	background-color:#FFE800;
}
.depicter-revert .depicter-14-element-45{
	font-size:48px;
	color:#222222;
	font-family:"Dosis";
	font-weight:600;
	line-height:113%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-54{
	background-color:#579BFF;
	border-radius:10px;
}
.depicter-revert .depicter-14-element-46{
	font-size:18px;
	color:#222222;
	font-family:"Dosis";
	font-weight:400;
	background-color:transparent;
}
.depicter-revert .depicter-14-element-49{
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Dosis";
	font-weight:700;
	text-transform:capitalize;
	background-color:#3CCBA9;
}
.depicter-revert .depicter-14-section-42 .depicter-section-background{
	background-color:#FFFFFF;
}

}
